---
---
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {    
    font-family: 'Open Sans Condensed', sans-serif;
    background: #444D64;
    color: white;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

a {
    color: inherit;
}

footer {
    font-size: 1rem;
    padding: 2rem;
}

.header-image {
    width: 100%;
}

.subtitle {
    border-radius: 1rem 1.5rem 0.7rem 1.8rem;
    background: transparent;
    background-image: linear-gradient(
        to right,
        #6e7488,
        #6e7794,
        #5c657d,
        #596380,
        #5d6271,
        #71757d
    );

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    font-size: 2.5rem;
    padding: 0.5rem 1.5rem;
    line-height: 4.3rem;
    
    display: inline;
    margin-bottom: 2rem;
}

.buttons {
    margin: 2rem 0;
}

.button {
    display: inline-block;
    text-decoration: none;

    font-size: 1.5rem;

    padding: 0.8rem 1rem;
    margin: 5px 10px;
    
    transition: all 0.3s ease;
}

.button i {
    font-size: 5rem;
    display: block;
}

.button:hover {
    color: rgba(255,255,255,0.6);
}

.content {
    padding: 2rem;
}