<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <!-- Icons -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">

        <title>{{ site.title }}</title>
    </head>
    <body>
        <div class="container">
            <header>
                <img class="header-image" src="{{ site.baseurl }}/images/logo_animated.svg" alt="{{ site.title }}">
                
                <p class="subtitle">„{{ site.description }}“</p>
                
                <div class="buttons">
                    <a class="button" href="https://www.instagram.com/odermalso/"><i class="ri-instagram-line"></i>Instagram</a>
                    <a class="button" href="https://www.youtube.com/channel/UCzGr5YD4VlWiAeMT-J01lkQ"><i class="ri-youtube-line"></i>YouTube</a>
                    <a class="button" href="https://open.spotify.com/artist/1WqyBx5oVGAhAG9N4l5GqS?si=Z1jOIfPbQI6qPRlARpPK2A"><i class="ri-spotify-line"></i>Spotify</a>
                    <a class="button" href="https://music.apple.com/de/artist/odermalso/1507937318"><i class="ri-apple-line"></i>Apple Music</a>
                    <a class="button" href="https://songwhip.com/odermalso"><i class="ri-more-line"></i>Mehr</a>
                </div>
            </header>

            
            <div class="content">
